* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    color: #fff;
    font-family: Arial, sans-serif;
  
}

.controles {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

select {
    padding: 10px;
    width: 300px;
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    margin-right: 20px;
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: #000;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    color: #000;
}

table thead {
    background-color: #000;
    color: #fff;
}

table th {
    padding: 15px;
    text-align: center;
    border: 2px solid #000;
}

table td {
    padding: 15px;
    text-align: center;
    border: 2px solid #000;
}

table img {
    border-radius: 5px;
    object-fit: cover;
}

table tr:nth-child(even) {
    background-color: #f0f0f0;
}

table tr:hover {
    background-color: #e0e0e0;
}